

#menu a { font-weight: bold;
    color: #000000;
    text-decoration:none;
}

#menu li {
    display: inline;
    padding: 5px 20px 5px 20px;

}

#main h1 {
  text-align: center;
}

#main{
    width: 75%;
    padding: 10px;
    border-style: solid;
    border-color: #8D1919;
    margin:auto;
}


#text{
    padding: 40px;
}

#footer{
    margin: auto;
    text-align: center;
    font-size: small;
}

img {
  width:100%;
  height:auto;
}

@media (max-width: 600px) {
    #menu{
        text-align:left;
    }
    #menu li {
        padding: 2px;
        display:list-item;
    }
    #main {
      width: 100%;
      border: none;
      float: inherit;
    }
    p {
      font-family: sans-serif;
    }
  }
}
